@page "/contact"
@layout WebLayout

<style>
    body {
        background-color: #25274d;
    }

    .contact {
        padding: 4%;
        height: 400px;
    }

    .col-md-3 {
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .contact-info {
        margin-top: 10%;
    }

        .contact-info img {
            margin-bottom: 15%;
        }

        .contact-info h2 {
            margin-bottom: 10%;
        }

    .col-md-9 {
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .contact-form label {
        font-weight: 600;
    }

    .contact-form button {
        background: #25274d;
        color: #fff;
        font-weight: 600;
        width: 25%;
    }

        .contact-form button:focus {
            box-shadow: none;
        }
</style>

<section class="breadcrumb">
    </section>

<section class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                    <h2>Contact Us</h2>
                    <h4>We would love to hear from you !</h4>
                    <h4>
                        <b>UK Head Office</b><br>71-75 Shelton Street, Covent Garden,
                        London WC2H 9JQ, England, UK
                    </h4>
                    <h4>
                        <b>Australia Office</b><br>
                        Level 5 Nexus Building
                        4 Columbia Court
                        Baulkham Hills NSW 2153 Australia
                    </h4>
                    <h4><b>Email Us</b><br><a href="mailto:support@clearsoftware-solutions.com">support@clearsoftware-solutions.com</a></h4>
                </div>
            </div>
            <div class="col-md-9">
                <form>
                    <div class="contact-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fname">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lname">Last Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Comment:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="comment" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


