@page "/ForgotPasswordConfirmation"
@layout WebLayout
@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Forgot Password Confirmation</h2>

            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-12">
                    <p> Please check your email to reset your password.</p>                   
                </div>

            </div>
        </div>
    </div>

</section>