@page "/HowDoesItWork"
@layout WebLayout

<style>
    span {
        font-family: "Barlow Semi Condensed", sans-serif;
        line-height: 28px;
        font-size: 22px;
        margin-bottom: 0px;
        color: #888888;
        font-weight: 400;
    }

    hr {
        margin: auto;
        width: 90%;
    }
</style>
<section class="about_us section_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>

                    <div class="row">
                        <!-- start feature box item -->
                        <div class="col-md-8 offset-md-2">
                            <div>
                                <h2 class="font-weight-300 text-extra-dark-gray ">WORK SAFER, WORK SMARTER, WORK
                                    CLEARER, CLEAR-WHS</h2>
                                <hr>
                                <p>
                                    Clear WHS provides an automated process for the delivery and acceptance of Risk
                                    Assessment/SWMS
                                    to Contractors/Employees and to the Client Manager, if required, for each Work Order
                                    when the
                                    Work Order is being actioned.
                                </p>
                                <br>
                                <div class="text-right">
                                    <a href="Signup" class="btn_2">Signup Now</a>
                                </div>
                            </div>
                        </div>

                        <!-- end feature box item -->
                    </div>
                </div>
            </div>

        </div>
        <!--/row-->
    </div>
</section>

<section class="pricing_part section_padding home_page_pricing">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="single_pricing_part">
                    <h4 class=about_us_text>1</h4>
                    <div class="content-line">
                        <h3>
                            <b>
                                Signup and Register
                            </b>
                        </h3>
                        <br />
                        <ol>
                            <li>
                                <!--The Contractor registers and then registers their workers.-->
                                <span>1.The Contractor selects a payment plan and registers their first, main
                                    user.</span>
                            </li>
                            <li>
                                <!--The Contractor receives a Job/Work Order notification from their FM Company or Client-->
                                <span>2.The Contractor then logs on and registers their Workers and their contact
                                    details and licences.</span>
                            </li>
                            <li>
                                <!--The Contractor inputs simple details like Job/Work Oder number into the system along with the Client Address and description of job.-->
                                <span>3.The Workers get sent an email with their logon details and a link so they can
                                    download the APP</span>
                            </li>
                            <li>
                                <!--The Contractor selects which SWMS apply from the library of SWMS-->
                                <span>4.The first User registered has Admin access to the account</span>
                            </li>
                        </ol>
                        <div class="text-right">
                            <a href="Signup" class="btn_1" style="top:51%;">Signup Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>

        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="single_pricing_part">
                    <h4 class="about_us_text">2</h4>
                    <div class="content-line">
                        <h3>
                            <b>
                                Create or Amend your SWMS
                            </b>
                        </h3>
                        <br />
                        <ol>
                            <li>
                                <!--The Contractor can modify the SWMS and save their own version for later re-use-->
                                <span>1.The Contractor can select from the central library of SWMS and modify it and
                                    save their own version for later use.</span>
                            </li>
                            <li>
                                <!--The Contractor can create an entirely new SWMS using the online Create SWMS process. No Word documents involved.-->
                                <span>2.Once modified and saved the SWMS is unique and can only be accessed by the
                                    Contractor's users.</span>
                            </li>
                            <li>
                                <!--The Contractor allocates the Workers to the job and then generates the SWMS-->
                                <span>3.Using the web browser the User can create an entirely new SWMS using the online
                                    Create SWMS process within minutes.</span>
                            </li>

                        </ol>
                        <div class="text-right">
                            <a href="Signup" class="btn_1" style="top:51%;">Signup Now</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">



            <div class="col-md-6">
                <div class="single_pricing_part">
                    <h4 class="about_us_text">3</h4>
                    <div class="content-line">
                        <h3>
                            <b>
                                <!--Create your SWMS--> Allocate and send the SWMS
                            </b>
                        </h3>
                        <br />
                        <ol>
                            <li>
                                <!--The SWMS are then generated as PDF(s) for the Worker for this job/Work Order-->
                                <span>1.The Contractor receives a Job/Work Order notification from their FM Company or
                                    Client.</span>

                            </li>
                            <li>
                                <!--Worker logs onto the App and the Job/Work Orders and their SWMS that apply to the Worker are downloaded-->
                                <span>2.The Contractor inputs simple details like Job/Work Order number, description of
                                    Job/Work Order and the Client work address into the system.</span>
                            </li>
                            <li>
                                <!--The Worker travels to the Client Site and the system automatically detects when he has arrived-->
                                <span>3.The Contractor selects which SWMS to apply to the Job/Work Order from the
                                    central library or from their own versions.</span>
                            </li>
                            <li>
                                <span>4.The Contractor allocates the Workers to the Job/Work Order and then selects
                                    Generate to generate the PDF's.</span>

                            </li>

                        </ol>
                        <div class="text-right">
                            <a href="Signup" class="btn_1" style="top:51%;">Signup Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>

        </div>

        <div class="row">
            <div class="col-md-6"></div>

            <div class="col-md-6">
                <div class="single_pricing_part">
                    <h4 class="about_us_text">4</h4>
                    <div class="content-line">
                        <h3>
                            <b>
                                Send SWMS to Workers
                            </b>
                        </h3>
                        <br />
                        <ol>
                            <li>
                                <span>1.The SWMS are then generated as PDF(s) for all workers for the job/work
                                    order.</span>
                            </li>
                            <li>
                                <span>2.Worker(s) log onto the App and the SWMS that apply to each Job/Work Order and
                                    allocated to them are downloaded to their device.</span>
                            </li>
                            <li>
                                <span>3.The App requests that the Worker verifies that they are On-Site and asks for
                                    which job/Work Order</span>
                            </li>
                            <li>
                                <span>4.The system logs the Date &amp; Time that the Worker is logged as On-Site.</span>
                            </li>
                            <li>
                                <span>5.The Worker opens and reads the SWMS and then digitally signs it with their
                                    signature on their mobile device.</span>
                            </li>
                            <li>
                                <span>6.The system Date &amp; Time stamps when the Worker has signed the SWMS.</span>
                            </li>
                            <li>
                                <span>7.The signed PDF is sent at the first network opportunity to the central
                                    system.</span>
                            </li>

                        </ol>
                        <div class="text-right">
                            <a href="Signup" class="btn_1" style="top:51%;">Signup Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="single_pricing_part">
                    <div class="text-right">
                        <h4 class="about_us_text">5</h4>
                        <div class="content-line">
                            <h3>
                                <b>
                                    SWMS Management &amp; Audit
                                </b>
                            </h3>
                            <br />
                            <ol>
                                <li>
                                    <span>1.If, after a pre-set period of time, for example, 15 minutes, the Worker
                                        has not signed the SWMS for the Job/Work Order then the system raises an
                                        alert against the Work Order</span>
                                </li>
                                <li>
                                    <span>2.When the job is done the Worker can specify the completion and going
                                        Off-Site or the system will automatically detect that the Worker has left
                                        the site.</span>
                                </li>
                                <li>
                                    <span>3.The system logs the Date &amp; Time for the Worker going Off-Site</span>
                                </li>
                                <li>
                                    <span>4.The Admin user can download and then attach the signed PDF to the
                                        Invoice for the Job.</span>
                                </li>
                            </ol>
                        </div>
                        <div class="text-right">
                            <a href="Signup" class="btn_1" style="top:51%;">Signup Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</section>
