@page "/pricing"
@layout WebLayout


<style>
    span {
        font-family: "Barlow Semi Condensed", sans-serif;
        line-height: 28px;
        font-size: 15px;
        margin-bottom: 0px;
        color: #888888;
        font-weight: 400;
    }
    hr {
        margin: auto;
        width: 70%;
    }
</style>

<section class="pricing_part section_padding home_page_pricing">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-9">
                <div class="section_tittle text-center">
                    <h2>Our Pricing Plan</h2>
                    <hr>
                    <p>There is a set price for the first employee, which covers a sole trader, and then a subsequent price for every other employee that is being registered to use the system. This is an annual price as it is an annual service. This is discounted if paid in total when registering or it can be paid monthly.</p>
                    <br />
                    <a href="Signup" class="btn_2">SignUp Now</a>
                    <br />
                </div>
            </div>

            <div class="row align-items-center justify-content-between">
                <div class="col-md-4">
                    <div class="single_pricing_part">
                        <span>YEARLY</span>
                        <br />
                        <h3><b>INITIAL REGISTRATION</b></h3>
                        <br />
                        <br />
                        <br />

                        <p>Full Actual Price: $1,680.00</p>
                        <p>Discount Available: 50.00 %</p>
                        <p>Discount Price Available: $840.00</p>

                        <a href="Signup" class="pricing_btn">Register Now</a>
                        <br />

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single_pricing_part">
                        <span>MONTHLY RECURRING PLAN</span>
                        <br />
                        <h3><b>INITIAL REGISTRATION - PAYING MONTHLY</b></h3>
                        <br />

                        <p>Full Actual Price: $1,680.00</p>
                        <p>Discount Available: 40.00 %</p>
                        <p>Discount Price Available: $84.00</p>

                        <a href="Signup" class="pricing_btn">Register Now</a>
                        <br />


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single_pricing_part">
                        <span>MONTHLY RECURRING PLAN</span>
                        <br />
                        <h3><b>REGISTER ADDITIONAL EMPLOYEES</b></h3>
                        <br />

                        <p>Full Actual Price: $102.00</p>
                        <p>Discount Available: 50.00 %</p>
                        <p>Discount Price Available: $51.00</p>

                        <a href="Signup" class="pricing_btn">Register Now</a>
                        <br />

                    </div>
                </div>
            </div>

        </div>

    </div>

    <img src="front/img/animate_icon/Ellipse_2.png" alt="" class="feature_icon_2 custom-animation2">
</section>