@page "/ThankYou"
@layout WebLayout
@using Radzen
@using Radzen.Blazor
@using Clear.Risk.Models.ClearConnection
@using Microsoft.AspNetCore.Identity;
@using Clear.Risk.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore


@*<h3>ThankYou</h3>*@

@code {

}

<section class="contact-section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Thank you</h2>

            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-12">
                    <p> You have successfully registered and below is login URL.</p>
                    <br />
                    <a href="Login" class="d-none d-sm-block btn_1 home_page_btn">Click here to login</a>                   

                </div>
                
            </div>
        </div>
    </div>

</section>